._certificatesArea {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 5px 100px;
    /* border: 1px dotted black; */
}


/* ._skillsArea div {
    border: 1px dotted black;
} */

._certificatesArea ._titleArea {
    text-align: center;
    margin: 20px auto;
    font-family: McLaren;
}

._certificatesArea ._titleArea h4 {
    font-size: 40px;
    font-weight: 600;
}

._certificatesArea ._titleArea p {
    color: #777;
    font-size: 16px;
}

._certificatesArea ._contentArea {
    font-family: Ubuntu;
}

.carousel-inner {
    text-align: center;
    margin: 20px 23%;
}

.carousel-inner .carousel-item {
    width: 600px;
    height: 400px;
}