._footer {
    margin-top: 100px;
}

._footerArea {
    padding: 5px 100px;
    /* background-color: #8758FF; */
}

._footerArea ._titleArea {
    text-align: center;
    margin-bottom: 20px;
    font-family: McLaren;
}

._footerArea ._titleArea h4 {
    font-size: 40px;
    font-weight: 600;
}

._footerArea ._titleArea p {
    color: #777;
    font-size: 16px;
}

._footerArea ._blurArea {
    padding: 20px;
    /* border: 1px solid #dedede; */
    border-radius: 10px;
}

._footerArea ._blurArea ._socialMediaLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #eeeeee9b; */
    box-shadow: 2px 2px 4px #eeeeee;
}

._footerArea ._blurArea ._socialMediaLinks ._links i {
    margin: 0px 10px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

._footerArea ._blurArea ._socialMediaLinks ._links i:hover {
    color: #8758FF;
    margin: 0px 15px;
}

._footerArea ._blurArea ._socialMediaLinks ._text {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    /* color: #8758FF; */
}

._footerEnd {
    /* background-color: #8758FF; */
    text-align: center;
    margin: 0px;
    padding: 10px;
    border: 0px;
}

._footerEnd p {
    color: white;
    font-family: McLaren;
    margin-top: 10px;
    color: #8758FF;
    /* font-weight: bold; */
    font-size: 20px;
}

._footer p span {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}