._homeArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5px 100px;
}

._homeArea:after {
    content: "SIVAJI";
    position: absolute;
    color: rgba(187, 182, 182, 0.200);
    top: 150px;
    left: 15px;
    z-index: -1;
    font-size: 170px;
    letter-spacing: 2px;
    /* text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.055); */
}


/* ._homeArea div {
    border: 1px dotted black;
} */

._homeArea ._imageArea {
    width: 40%;
    height: 100%;
    text-align: right;
}

._homeArea ._imageArea img {
    width: 450px;
    height: 300px;
    margin-top: 80px;
}

._homeArea ._textArea {
    width: 60%;
    height: 100%;
    position: relative;
    font-weight: bold;
    padding-top: 80px;
}

._homeArea ._textArea ._hello {
    font-size: 30px;
}

._homeArea ._textArea ._name {
    font-size: 72px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.753);
}

._homeArea ._textArea ._job {
    font-size: 30px;
}

._homeArea ._textArea ._btns {
    margin-top: 30px;
}

._homeArea ._textArea ._btns button {
    margin-right: 20px;
    width: 130px;
    height: 40px;
    outline: none;
    border: none;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
}

._homeArea ._textArea ._btns ._hireMeBtn {
    background-color: #8758FF;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px #8758FF;
    outline: 1.5px solid #8758FF;
    transition: 0.3s;
}

._homeArea ._textArea ._btns ._hireMeBtn:hover {
    background-color: transparent;
    color: #8758FF;
    outline: 1.5px solid #8758FF;
    box-shadow: none;
}

._homeArea ._textArea ._btns ._getCvBtn {
    background-color: transparent;
    color: #8758FF;
    outline: 1.5px solid #8758FF;
    transition: 0.3s;
}

._homeArea ._textArea ._btns ._getCvBtn:hover {
    background-color: #8758FF;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px #8758FF;
    outline: 1.5px solid #8758FF;
}