._navBar {
    padding: 5px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* border: 1px dotted black; */
    margin-top: 10px;
}

._navBar ._title {
    font-size: 25px;
}

._navBar ._title a {
    text-decoration: none;
    color: #8758FF;
}

._navBar ._title a p {
    font-weight: bold;
    transition: 0.3s;
}

._navBar ._title a p:hover {
    letter-spacing: 1.5px;
}

._navBar ._links {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

._navBar ._links a {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

._navBar ._links a p {
    color: black;
    font-weight: bold;
    font-size: 13px;
    transition: 0.3s;
}

._navBar ._links a p:hover {
    color: #8758FF;
    letter-spacing: 1.5px;
}

._navBar ._links a .active {
    color: #8758FF;
    letter-spacing: 1.5px;
}

._navBar span {
    color: #8758FF;
    font-size: 30px;
    margin-top: 3px;
    cursor: pointer;
}